<section id="lv-container" class="animated fadeInUp">
    <div id="gitalk-container"></div>
</section>

<script>
    var pathname = md5(location.pathname);
    var gitalk = new Gitalk({
        clientID: '{{ site.gitment.client_id }}',
        clientSecret: '{{ site.gitment.client_secret }}',
        repo: '{{ site.gitment.repo }}',
        owner: '{{ site.gitment.owner }}',
        admin: ['{{ site.gitment.owner }}'],
        id: pathname,
        distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
</script>